.bodyContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.bgcontainer{
  height:80vh;
  width: 80vw;
  background-color: #cffcf1 ;
  text-align: center;

}

.digitaltimerHeader{
 padding: 30px;
 font-size: 35px;
 font-family: Roboto;
 font-weight: 700;
 color:#0f172a;

}
.divisionContainer{
  display:flex;
}
.timerOuterContainer{
  background-image:url("https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png"); 
  display:flex;
  width:60vw;
  height:60vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:10px;
  
}
.inputContainer{
  margin-top:20vh;
  width:20vw;
  /* background-color: black; */
  /* background-color: blue; */
}
.runningTimer{
  display: flex;
  flex-direction: column;
  height: 100px;
  width:100px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  
}
.timerText{
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 2px;
  color: #00d9f5;

}
.runningText{
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 2px;
  color:#0f172a
}
.buttonContainer{
  display:flex;
  justify-content: center;
  /* background-color: black; */
}
.timerSetContainer{
  display:flex;
  justify-content: center;
  margin-top:0px;
  
}
.ResetButton{
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  margin-right: 15px;
}
.ResetText{
  height: 20px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  color:#0f172a
}
.PlayButton{
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.startText{
  height: 20px;
  font-size: 20px;
  margin-right: 40px;
  font-family: Roboto;
  font-weight: 700;
  color:#0f172a
}
.numberChanger{
  width:3vw;
  height:3vh;
  background-color: blue;
  margin-right:10px;
  margin-left: 10px;
  border-radius: 2px;
  font-size:15px;
  font-weight: 500;
  color:#0f172a;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#defafe,#00d9f5) ;

}
.timerSetText{
  font-size:10px;
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  color:#1e293b
}

.PlusMinus{
  font-size: 18px;
  font-weight: bolder;
  cursor:pointer;
  color:#0f172a
}